@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.pagination_container {
  display: flex;
  list-style: none;
  align-items: center;
}

.pagination_page {
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #f4141c;
  color: white;
}

.pagination_disabled {
  cursor: not-allowed;
}

.pagination_active {
  background-color: black;
  font-weight: bold;
}

.pagination_previous {
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.pagination_break {
  padding: 10px;
}

.pagination_next {
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}
